xsd-core/src/test/resources/xml/10_complex_type_with_extensions.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PersonBase">
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Employee">
        <xs:complexContent>
            <xs:extension base="PersonBase">
                <xs:attribute name="age" type="xs:int" use="optional"/>
                <xs:attribute name="position" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Employee" type="Employee"/>
    <xs:element name="EmployeePerson" type="PersonBase"/>
</xs:schema>
