xsd-core/src/test/resources/xml/13_elements_with_fixed_values.xml

<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema">
    <s:element name="Add">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="stringField" fixed="data" type="s:string"/>
                <s:element minOccurs="1" maxOccurs="1" name="intField" fixed="56" type="s:int"/>
            </s:sequence>
        </s:complexType>
    </s:element>
</s:schema>
