xsd-core/src/test/resources/xml/19_complex_type_with_extensions.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://namespace.org/">
    <!-- Define a base type with common attributes and nested fields -->
    <xs:complexType name="PersonBase">
        <xs:sequence>
            <!-- Level 1 -->
            <xs:element name="ContactInfo" minOccurs="0" >
                <xs:complexType>
                    <xs:sequence>
                        <!-- Level 2 -->
                        <xs:element name="Address" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <!-- Level 3 -->
                                    <xs:element name="Street" type="xs:string" minOccurs="0"/>
                                    <xs:element name="City" type="xs:string" minOccurs="0"/>
                                    <xs:element name="State" type="xs:string" minOccurs="0"/>
                                    <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Phone" type="xs:string" minOccurs="0"/>
                        <xs:element name="Email" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EmergencyContact" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <!-- Level 2 -->
                        <xs:element name="Name" type="xs:string" minOccurs="0"/>
                        <xs:element name="Relation" type="xs:string" minOccurs="0"/>
                        <xs:element name="Phone" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Define a derived type that extends the base type -->
    <xs:complexType name="Employee">
        <xs:complexContent>
            <xs:extension base="PersonBase">
                <xs:attribute name="age" type="xs:int" use="optional"/>
                <xs:attribute name="position" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Define an element of the derived type -->
    <xs:element name="Employee" type="Employee"/>
</xs:schema>
