xsd-core/src/test/resources/xml/20_elements_with_attributes.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Define a simple element with attributes -->
    <xs:element name="Person">
        <xs:complexType>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="age" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
