xsd-core/src/test/resources/xml/22_attributes_with_fixed_values.xml

<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema">
    <s:element name="Add">
        <s:complexType>
            <s:attribute name="value" type="xsd:int" fixed="10"/>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
                <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int"/>
            </s:sequence>
        </s:complexType>
    </s:element>
</s:schema>
