xsd-core/src/test/resources/xml/38_elements_with_double_values.xml

<xs:schema targetNamespace="http://example.com/CalculatorService"
           elementFormDefault="qualified"
           xmlns="http://schemas.xmlsoap.org/wsdl/"
           xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/CalculatorService"
           name="CalculatorService">

    <!-- Input element -->
    <xs:element name="AddRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
                <xs:element name="b" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Output element -->
    <xs:element name="AddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
