xsd-core/src/test/resources/xml/43_elements_with_include.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/schema" elementFormDefault="qualified">
    <xs:include schemaLocation="46_elements_with_include_base.xsd"/>

    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="address" type="AddressType"/>
                <xs:element name="phone" type="PhoneNumberType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
