xsd-core/src/test/resources/xml/44_elements_with_builtin_string_types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://namespace.org/">
    <xs:element name="TokenList" type="xs:NMTOKENS"/>
    <xs:element name="EntityRef" type="xs:ENTITY"/>
    <xs:element name="EntityRefs" type="xs:ENTITIES"/>
    <xs:element name="NameVal" type="xs:Name"/>
</xs:schema>
