xsd-core/src/test/resources/xml/45_elements_with_any.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/schema" elementFormDefault="qualified">
    <xs:element name="ExtensibleType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fixedField" type="xs:string"/>
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MixedContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="xs:string"/>
                <xs:any namespace="##any" minOccurs="0" maxOccurs="1"/>
                <xs:element name="footer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="OpenEnded">
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##other" processContents="skip"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
