xsd-core/src/test/resources/xml/46_sequence_with_required_choice_particle.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://namespace.org/">
    <xs:complexType name="Order">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="note" type="xs:string"/>
            <xs:choice>
                <xs:element name="onlinePayment" type="xs:string"/>
                <xs:element name="cashPayment" type="xs:string"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Order" type="Order"/>
</xs:schema>
