xsd-core/src/test/resources/xml/48_sequence_with_nested_sequence.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://namespace.org/">
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:sequence>
                <xs:element name="header" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
            <xs:element name="body" type="xs:string"/>
            <xs:sequence>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="publishedDate" type="xs:string"/>
                <xs:element name="pageCount" type="xs:int"/>
                <xs:sequence>
                    <xs:element name="publisher" type="xs:string"/>
                    <xs:element name="edition" type="xs:string"/>
                </xs:sequence>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Document" type="Document"/>
</xs:schema>
