xsd-core/src/test/resources/xml/52_sequence_choice_with_min_occurs_zero.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Order">
        <xs:sequence minOccurs="0">
            <xs:element name="item" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Payment">
        <xs:choice minOccurs="0">
            <xs:element name="creditCard" type="xs:string"/>
            <xs:element name="cash" type="xs:int"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
