xsd-core/src/test/resources/xml/55_element_form_default_unqualified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/library"
           elementFormDefault="unqualified">

    <xs:complexType name="BookType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="isbn" type="xs:string"/>
            <xs:element name="year" type="xs:int"/>
            <xs:element name="pages" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="birthYear" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LibraryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="book" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Book" type="BookType"/>
    <xs:element name="Author" type="AuthorType"/>
    <xs:element name="Library" type="LibraryType"/>

</xs:schema>
