xsd-core/src/test/resources/xml/56_attribute_form_default_qualified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/"
           elementFormDefault="unqualified"
           attributeFormDefault="qualified">

    <!-- Local elements should NOT have namespace (elementFormDefault=unqualified) -->
    <!-- Local attributes SHOULD have namespace (attributeFormDefault=qualified) -->

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="age" type="xs:int" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="country" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:element name="Person" type="PersonType"/>
    <xs:element name="Address" type="AddressType"/>

</xs:schema>
