xsd-core/src/test/resources/xml/6_elements_with_complex_type.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Operations" type="Add"/>
    <s:complexType name="Add" xmlns:s="http://www.w3.org/2001/XMLSchema">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int"/>
        </s:sequence>
    </s:complexType>
</xs:schema>
