xsd-core/src/test/resources/xml/9_complex_type_with_nested_fields.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="World">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Continent">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Country">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="State">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="City">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Landmark" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
