xsd-core/src/test/resources/xml/phone_verify.xsd

<s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/PhoneVerify/query" xmlns:s="http://www.w3.org/2001/XMLSchema">
    <s:complexType name="ArrayOfString">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
    </s:complexType>
    <s:element name="CheckPhoneNumber">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
                <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="CheckPhoneNumberResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="CheckPhoneNumberResult" type="tns:PhoneReturn"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="PhoneReturn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="Use" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Switch" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="RC" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="OCN" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="OriginalNumber" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CleanNumber" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SwitchName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SwitchType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CLLI" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PrefixType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="LATA" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="AssignDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelecomCity" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelecomCounty" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelecomState" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TelecomZip" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Lat" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Long" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Wireless" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="LRN" type="s:string"/>
        </s:sequence>
    </s:complexType>
    <s:element name="CheckPhoneNumbers">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="tns:ArrayOfString"/>
                <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:element name="CheckPhoneNumbersResponse">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CheckPhoneNumbersResult" type="tns:ArrayOfPhoneReturn"/>
            </s:sequence>
        </s:complexType>
    </s:element>
    <s:complexType name="ArrayOfPhoneReturn">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="PhoneReturn" type="tns:PhoneReturn"/>
        </s:sequence>
    </s:complexType>
    <s:element name="PhoneReturn" type="tns:PhoneReturn"/>
    <s:element name="ArrayOfPhoneReturn" nillable="true" type="tns:ArrayOfPhoneReturn"/>
</s:schema>
